<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>98F62EB4-0FE0-4D39-8D96-33F068493960</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.one</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
