<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C0C35DFF-B0D5-4506-BB0F-51ECBD8F23A4</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceleft</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceright</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenleft</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenright</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
