<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E2567C24-E620-47F5-BE17-47E2B846D9F0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.divide</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
