<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>01B20BCA-752F-453F-958E-54C0909BE130</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.g</key>
      <integer>11</integer>
    </dict>
  </dict>
</plist>
