<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>4EFE2F27-B7C1-482C-AFDB-DD5FFD6834E8</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.one.dnom</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
