<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>2D4FE07D-2EAF-43DD-92A5-FDFF836C14F9</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ringcomb</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
