<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D0628E97-6B24-46B9-8B73-521264EF1DDB</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.five</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
