<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>338B19BC-7C65-4FC4-842B-F988E0E52578</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.eightsuperior</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ninesuperior</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
