<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>499CA9E0-491B-4234-B7B8-9EA5F8B95EBF</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.eth</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
