<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>1ED0B4D9-FB61-484D-B89B-01BD951DE8ED</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.plus</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
