<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>1CF0E009-F1A3-42B5-BD2B-338E5F6344C7</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.caroncomb.case</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
