<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>59BC2454-599F-4787-BDDD-C3C281C6897C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.five</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.four</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.one</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.three</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.two</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
