<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>5C0F4110-32F8-4475-9440-4873E5DCF183</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.thorn</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
