<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F87E9B56-7890-4AD1-A985-3894DFC7CC5A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.onesuperior</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.threesuperior</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
