<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1500</integer>
    <key>capHeight</key>
    <integer>1400</integer>
    <key>copyright</key>
    <string>Copyright 2018 The Cabin Project Authors (https://github.com/impallari/Cabin.git)</string>
    <key>descender</key>
    <integer>-500</integer>
    <key>familyName</key>
    <string>Cabin</string>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2019/01/25 04:00:18</string>
    <key>openTypeHheaAscender</key>
    <integer>1930</integer>
    <key>openTypeHheaDescender</key>
    <integer>-500</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Pablo Impallari</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://www.impallari.com</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Pablo Impallari. http://www.impallari.com Igino Marini. http://www.ikern.com</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.impallari.com</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1930</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-500</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>IMPA</string>
    <key>openTypeOS2WinAscent</key>
    <integer>2292</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>628</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-28</integer>
      <integer>0</integer>
      <integer>980</integer>
      <integer>1000</integer>
      <integer>1400</integer>
      <integer>1428</integer>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-500</integer>
      <integer>-484</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>248</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>190</integer>
      <integer>256</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleName</key>
    <string>Regular Condensed</string>
    <key>trademark</key>
    <string>Cabin is a trademark of Pablo Impallari. www.impallari.com Igino Marini. www.ikern.com.</string>
    <key>unitsPerEm</key>
    <integer>2000</integer>
    <key>versionMajor</key>
    <integer>2</integer>
    <key>versionMinor</key>
    <integer>201</integer>
    <key>xHeight</key>
    <integer>980</integer>
  </dict>
</plist>
