<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9973B163-D8B4-4A1B-AB00-42A3C9B2686E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.four.dnom</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
