<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>CDB16233-5EC2-48D6-B077-5CD4985A57D8</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.asterisk</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
