<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B4A4AA86-87A1-4CC9-A54E-BC0EF43DBB09</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.g</key>
      <integer>12</integer>
    </dict>
  </dict>
</plist>
