<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>64684F4A-F466-4791-9A60-D4A2B79C55EC</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.asciitilde</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
