<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>FDDA39BA-9DE7-4ED3-9AA3-04D63F18C9C5</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.oslash</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
