<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D6E199C9-DC46-4864-B874-86E77C055392</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Schwa</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
