<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9B5C9852-9517-40A2-955E-ABED5F36CE42</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight.dnom</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.five.dnom</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven.dnom</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six.dnom</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
