<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F33930A1-1D07-4C2F-A32C-D369B3F65ED8</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.germandbls</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
