<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F68F7202-1C92-4ED7-9B5E-25913573DF0A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.florin</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
