<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>174EF946-9E91-43B6-9046-C12F0DEE7742</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecomb</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
