<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E7D7C80B-D1E5-401A-83CC-97AA96B315E0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.section</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
