<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>09ECA6A8-7362-42B3-B4EE-519E574B12FB</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.degree</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
