<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B7196322-B2E2-4569-8C63-857BC275D9D8</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
