<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>4AC5220E-3FAE-4AB3-BCDA-2B944E26F00C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.liraTurkish</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
