<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F42354A3-AF7F-42E1-A2A7-8A87AC9DA86F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.germandbls</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
