<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E7DC86F5-0E28-4AC9-8410-F742CB51BA68</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.question</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
