<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>4935EC91-45CD-41E9-8F7B-C351B65372F6</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight.dnom</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.five.dnom</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine.dnom</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven.dnom</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six.dnom</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
