<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>01335CB6-4D75-4E0A-9167-025A74A29280</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.florin</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
