<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>DF7DADD6-5EDB-486D-B741-ED5861D8C094</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.asterisk</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
