<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>BC5295D8-2305-4304-999A-BD52724EAD51</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.germandbls</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
