<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>29955088-E5E1-4B8D-A2D2-95D86EFD9D0F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.napostrophe</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
