<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7C02645D-BE8B-4036-8B44-C27E34A7C088</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
