<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>6DF8E98F-2FF8-414B-841D-0C4EBC761804</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketright</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
