<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>2326CCA5-8272-43D2-92A1-D5204AD0BA5E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.oslash</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
