<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>51F6C414-C98D-4309-8117-C53D0DF0DA10</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Q</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
