<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Bold Sep 25 16, 02:36</string>
      <string>glyphs.B_old S_ep 25 16, 02_36</string>
    </array>
    <array>
      <string>Bold Sep 25 16, 02:36.background</string>
      <string>glyphs.B_old S_ep 25 16, 02_36.background</string>
    </array>
    <array>
      <string>Bold Sep 25 16, 02:44</string>
      <string>glyphs.B_old S_ep 25 16, 02_44</string>
    </array>
    <array>
      <string>Bold Sep 25 16, 02:44.background</string>
      <string>glyphs.B_old S_ep 25 16, 02_44.background</string>
    </array>
    <array>
      <string>Bold Sep 27 16, 03:10</string>
      <string>glyphs.B_old S_ep 27 16, 03_10</string>
    </array>
    <array>
      <string>Bold Sep 27 16, 03:10.background</string>
      <string>glyphs.B_old S_ep 27 16, 03_10.background</string>
    </array>
    <array>
      <string>Bold Sep 25 16, 03:57</string>
      <string>glyphs.B_old S_ep 25 16, 03_57</string>
    </array>
    <array>
      <string>Bold Sep 25 16, 03:57.background</string>
      <string>glyphs.B_old S_ep 25 16, 03_57.background</string>
    </array>
    <array>
      <string>Bold Sep 25 16, 04:53</string>
      <string>glyphs.B_old S_ep 25 16, 04_53</string>
    </array>
    <array>
      <string>Bold Sep 23 16, 10:41</string>
      <string>glyphs.B_old S_ep 23 16, 10_41</string>
    </array>
    <array>
      <string>Bold Sep 23 16, 10:41.background</string>
      <string>glyphs.B_old S_ep 23 16, 10_41.background</string>
    </array>
    <array>
      <string>Bold Sep 23 16, 11:20</string>
      <string>glyphs.B_old S_ep 23 16, 11_20</string>
    </array>
    <array>
      <string>Bold Sep 23 16, 11:20.background</string>
      <string>glyphs.B_old S_ep 23 16, 11_20.background</string>
    </array>
    <array>
      <string>Nov 17 16, 11:29</string>
      <string>glyphs.N_ov 17 16, 11_29</string>
    </array>
    <array>
      <string>Bold Sep 25 16, 02:40</string>
      <string>glyphs.B_old S_ep 25 16, 02_40</string>
    </array>
    <array>
      <string>Bold Sep 25 16, 02:40.background</string>
      <string>glyphs.B_old S_ep 25 16, 02_40.background</string>
    </array>
    <array>
      <string>Bold Sep 25 16, 04:00</string>
      <string>glyphs.B_old S_ep 25 16, 04_00</string>
    </array>
    <array>
      <string>Bold Sep 25 16, 04:00.background</string>
      <string>glyphs.B_old S_ep 25 16, 04_00.background</string>
    </array>
    <array>
      <string>Bold Sep 25 16, 03:29</string>
      <string>glyphs.B_old S_ep 25 16, 03_29</string>
    </array>
    <array>
      <string>Bold Sep 25 16, 03:29.background</string>
      <string>glyphs.B_old S_ep 25 16, 03_29.background</string>
    </array>
    <array>
      <string>Bold Sep 25 16, 03:41</string>
      <string>glyphs.B_old S_ep 25 16, 03_41</string>
    </array>
    <array>
      <string>Bold Sep 25 16, 03:41.background</string>
      <string>glyphs.B_old S_ep 25 16, 03_41.background</string>
    </array>
    <array>
      <string>Bold Sep 27 16, 00:13</string>
      <string>glyphs.B_old S_ep 27 16, 00_13</string>
    </array>
    <array>
      <string>Bold Sep 27 16, 00:13.background</string>
      <string>glyphs.B_old S_ep 27 16, 00_13.background</string>
    </array>
    <array>
      <string>Bold Sep 25 16, 07:45</string>
      <string>glyphs.B_old S_ep 25 16, 07_45</string>
    </array>
    <array>
      <string>Bold Sep 25 16, 07:45.background</string>
      <string>glyphs.B_old S_ep 25 16, 07_45.background</string>
    </array>
    <array>
      <string>Bold Sep 7 16, 21:06</string>
      <string>glyphs.B_old S_ep 7 16, 21_06</string>
    </array>
    <array>
      <string>Bold Sep 7 16, 21:13</string>
      <string>glyphs.B_old S_ep 7 16, 21_13</string>
    </array>
    <array>
      <string>Bold Sep 7 16, 21:21</string>
      <string>glyphs.B_old S_ep 7 16, 21_21</string>
    </array>
    <array>
      <string>Bold Sep 7 16, 21:30</string>
      <string>glyphs.B_old S_ep 7 16, 21_30</string>
    </array>
    <array>
      <string>Bold Sep 7 16, 20:51</string>
      <string>glyphs.B_old S_ep 7 16, 20_51</string>
    </array>
    <array>
      <string>Bold Sep 9 16, 21:04</string>
      <string>glyphs.B_old S_ep 9 16, 21_04</string>
    </array>
    <array>
      <string>Bold Sep 27 16, 07:08</string>
      <string>glyphs.B_old S_ep 27 16, 07_08</string>
    </array>
    <array>
      <string>Bold Sep 15 16, 02:01</string>
      <string>glyphs.B_old S_ep 15 16, 02_01</string>
    </array>
    <array>
      <string>Bold Sep 15 16, 02:02</string>
      <string>glyphs.B_old S_ep 15 16, 02_02</string>
    </array>
    <array>
      <string>Bold Sep 25 16, 04:55</string>
      <string>glyphs.B_old S_ep 25 16, 04_55</string>
    </array>
    <array>
      <string>Bold Sep 25 16, 04:55.background</string>
      <string>glyphs.B_old S_ep 25 16, 04_55.background</string>
    </array>
    <array>
      <string>Bold Sep 25 16, 07:21</string>
      <string>glyphs.B_old S_ep 25 16, 07_21</string>
    </array>
    <array>
      <string>Bold Sep 25 16, 07:21.background</string>
      <string>glyphs.B_old S_ep 25 16, 07_21.background</string>
    </array>
    <array>
      <string>Bold Sep 25 16, 06:57</string>
      <string>glyphs.B_old S_ep 25 16, 06_57</string>
    </array>
    <array>
      <string>Bold Sep 25 16, 06:57.background</string>
      <string>glyphs.B_old S_ep 25 16, 06_57.background</string>
    </array>
    <array>
      <string>Bold Sep 25 16, 07:13</string>
      <string>glyphs.B_old S_ep 25 16, 07_13</string>
    </array>
    <array>
      <string>Bold Sep 25 16, 07:13.background</string>
      <string>glyphs.B_old S_ep 25 16, 07_13.background</string>
    </array>
    <array>
      <string>Bold Sep 25 16, 07:16</string>
      <string>glyphs.B_old S_ep 25 16, 07_16</string>
    </array>
    <array>
      <string>Bold Sep 25 16, 07:16.background</string>
      <string>glyphs.B_old S_ep 25 16, 07_16.background</string>
    </array>
    <array>
      <string>Bold Sep 25 16, 07:31</string>
      <string>glyphs.B_old S_ep 25 16, 07_31</string>
    </array>
    <array>
      <string>Bold Sep 25 16, 07:31.background</string>
      <string>glyphs.B_old S_ep 25 16, 07_31.background</string>
    </array>
    <array>
      <string>Bold Sep 25 16, 07:34</string>
      <string>glyphs.B_old S_ep 25 16, 07_34</string>
    </array>
    <array>
      <string>Nov 17 16, 11:38</string>
      <string>glyphs.N_ov 17 16, 11_38</string>
    </array>
    <array>
      <string>Nov 17 16, 11:38.background</string>
      <string>glyphs.N_ov 17 16, 11_38.background</string>
    </array>
    <array>
      <string>Bold Sep 25 16, 07:26</string>
      <string>glyphs.B_old S_ep 25 16, 07_26</string>
    </array>
    <array>
      <string>Bold Sep 25 16, 07:26.background</string>
      <string>glyphs.B_old S_ep 25 16, 07_26.background</string>
    </array>
    <array>
      <string>Bold Sep 27 16, 03:34</string>
      <string>glyphs.B_old S_ep 27 16, 03_34</string>
    </array>
    <array>
      <string>Bold Sep 26 16, 23:34</string>
      <string>glyphs.B_old S_ep 26 16, 23_34</string>
    </array>
    <array>
      <string>Bold Sep 26 16, 23:34.background</string>
      <string>glyphs.B_old S_ep 26 16, 23_34.background</string>
    </array>
    <array>
      <string>Bold Sep 26 16, 23:35</string>
      <string>glyphs.B_old S_ep 26 16, 23_35</string>
    </array>
    <array>
      <string>Bold Sep 26 16, 23:35.background</string>
      <string>glyphs.B_old S_ep 26 16, 23_35.background</string>
    </array>
    <array>
      <string>Bold Sep 26 16, 23:48</string>
      <string>glyphs.B_old S_ep 26 16, 23_48</string>
    </array>
    <array>
      <string>Bold Sep 26 16, 23:58</string>
      <string>glyphs.B_old S_ep 26 16, 23_58</string>
    </array>
    <array>
      <string>Bold Sep 26 16, 23:58.background</string>
      <string>glyphs.B_old S_ep 26 16, 23_58.background</string>
    </array>
    <array>
      <string>Bold Sep 27 16, 00:03</string>
      <string>glyphs.B_old S_ep 27 16, 00_03</string>
    </array>
    <array>
      <string>Bold Sep 26 16, 23:28</string>
      <string>glyphs.B_old S_ep 26 16, 23_28</string>
    </array>
    <array>
      <string>Bold Sep 26 16, 23:28.background</string>
      <string>glyphs.B_old S_ep 26 16, 23_28.background</string>
    </array>
    <array>
      <string>Bold Sep 27 16, 03:46</string>
      <string>glyphs.B_old S_ep 27 16, 03_46</string>
    </array>
    <array>
      <string>Bold Sep 25 16, 05:00</string>
      <string>glyphs.B_old S_ep 25 16, 05_00</string>
    </array>
    <array>
      <string>Bold Sep 25 16, 05:00.background</string>
      <string>glyphs.B_old S_ep 25 16, 05_00.background</string>
    </array>
    <array>
      <string>Bold Sep 25 16, 05:09</string>
      <string>glyphs.B_old S_ep 25 16, 05_09</string>
    </array>
    <array>
      <string>Bold Sep 25 16, 05:09.background</string>
      <string>glyphs.B_old S_ep 25 16, 05_09.background</string>
    </array>
    <array>
      <string>Bold Sep 25 16, 05:16</string>
      <string>glyphs.B_old S_ep 25 16, 05_16</string>
    </array>
    <array>
      <string>Bold Sep 25 16, 05:46</string>
      <string>glyphs.B_old S_ep 25 16, 05_46</string>
    </array>
    <array>
      <string>Bold Sep 25 16, 05:37</string>
      <string>glyphs.B_old S_ep 25 16, 05_37</string>
    </array>
    <array>
      <string>Bold Sep 27 16, 04:44</string>
      <string>glyphs.B_old S_ep 27 16, 04_44</string>
    </array>
    <array>
      <string>Bold Sep 27 16, 04:48</string>
      <string>glyphs.B_old S_ep 27 16, 04_48</string>
    </array>
  </array>
</plist>
