<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>564206D5-C341-4CC4-A151-CC2504B6A57B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.asterisk</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
