<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Bold Condensed Sep 19 16, 18:47</string>
      <string>glyphs.B_old C_ondensed S_ep 19 16, 18_47</string>
    </array>
    <array>
      <string>Bold Condensed Sep 21 16, 21:06</string>
      <string>glyphs.B_old C_ondensed S_ep 21 16, 21_06</string>
    </array>
    <array>
      <string>Bold Condensed Sep 21 16, 21:11</string>
      <string>glyphs.B_old C_ondensed S_ep 21 16, 21_11</string>
    </array>
    <array>
      <string>Bold Condensed Sep 22 16, 01:19</string>
      <string>glyphs.B_old C_ondensed S_ep 22 16, 01_19</string>
    </array>
    <array>
      <string>Bold Condensed Sep 22 16, 02:18</string>
      <string>glyphs.B_old C_ondensed S_ep 22 16, 02_18</string>
    </array>
    <array>
      <string>Bold Condensed Sep 19 16, 18:47.background</string>
      <string>glyphs.B_old C_ondensed S_ep 19 16, 18_47.background</string>
    </array>
    <array>
      <string>Bold Condensed Sep 22 16, 02:53</string>
      <string>glyphs.B_old C_ondensed S_ep 22 16, 02_53</string>
    </array>
    <array>
      <string>Bold Condensed Sep 20 16, 15:58</string>
      <string>glyphs.B_old C_ondensed S_ep 20 16, 15_58</string>
    </array>
    <array>
      <string>Bold Condensed Sep 20 16, 16:16</string>
      <string>glyphs.B_old C_ondensed S_ep 20 16, 16_16</string>
    </array>
    <array>
      <string>Bold Condensed Sep 20 16, 18:14</string>
      <string>glyphs.B_old C_ondensed S_ep 20 16, 18_14</string>
    </array>
    <array>
      <string>Bold Condensed Sep 22 16, 01:09</string>
      <string>glyphs.B_old C_ondensed S_ep 22 16, 01_09</string>
    </array>
    <array>
      <string>Bold Condensed Sep 22 16, 01:30</string>
      <string>glyphs.B_old C_ondensed S_ep 22 16, 01_30</string>
    </array>
    <array>
      <string>Nov 16 16, 16:32</string>
      <string>glyphs.N_ov 16 16, 16_32</string>
    </array>
    <array>
      <string>Nov 16 16, 16:30</string>
      <string>glyphs.N_ov 16 16, 16_30</string>
    </array>
    <array>
      <string>Bold Condensed Sep 22 16, 02:24</string>
      <string>glyphs.B_old C_ondensed S_ep 22 16, 02_24</string>
    </array>
    <array>
      <string>Nov 16 16, 16:27</string>
      <string>glyphs.N_ov 16 16, 16_27</string>
    </array>
    <array>
      <string>Bold Condensed Sep 22 16, 02:57</string>
      <string>glyphs.B_old C_ondensed S_ep 22 16, 02_57</string>
    </array>
    <array>
      <string>Bold Condensed Sep 22 16, 02:42</string>
      <string>glyphs.B_old C_ondensed S_ep 22 16, 02_42</string>
    </array>
    <array>
      <string>Bold Condensed Nov 6 16, 12:51</string>
      <string>glyphs.B_old C_ondensed N_ov 6 16, 12_51</string>
    </array>
    <array>
      <string>Bold Condensed Sep 22 16, 06:18</string>
      <string>glyphs.B_old C_ondensed S_ep 22 16, 06_18</string>
    </array>
    <array>
      <string>Bold Condensed Sep 22 16, 06:21</string>
      <string>glyphs.B_old C_ondensed S_ep 22 16, 06_21</string>
    </array>
    <array>
      <string>Bold Condensed Sep 22 16, 17:30</string>
      <string>glyphs.B_old C_ondensed S_ep 22 16, 17_30</string>
    </array>
    <array>
      <string>Bold Condensed Sep 22 16, 15:16</string>
      <string>glyphs.B_old C_ondensed S_ep 22 16, 15_16</string>
    </array>
    <array>
      <string>Bold Condensed Sep 22 16, 15:09</string>
      <string>glyphs.B_old C_ondensed S_ep 22 16, 15_09</string>
    </array>
    <array>
      <string>Bold Condensed Sep 22 16, 06:48</string>
      <string>glyphs.B_old C_ondensed S_ep 22 16, 06_48</string>
    </array>
    <array>
      <string>Bold Condensed Sep 22 16, 06:40</string>
      <string>glyphs.B_old C_ondensed S_ep 22 16, 06_40</string>
    </array>
    <array>
      <string>Bold Condensed Sep 22 16, 06:53</string>
      <string>glyphs.B_old C_ondensed S_ep 22 16, 06_53</string>
    </array>
    <array>
      <string>Bold Condensed Sep 22 16, 03:30</string>
      <string>glyphs.B_old C_ondensed S_ep 22 16, 03_30</string>
    </array>
    <array>
      <string>Bold Condensed Sep 22 16, 05:38</string>
      <string>glyphs.B_old C_ondensed S_ep 22 16, 05_38</string>
    </array>
    <array>
      <string>Bold Condensed Sep 22 16, 05:36</string>
      <string>glyphs.B_old C_ondensed S_ep 22 16, 05_36</string>
    </array>
    <array>
      <string>Bold Condensed Sep 22 16, 20:25</string>
      <string>glyphs.B_old C_ondensed S_ep 22 16, 20_25</string>
    </array>
    <array>
      <string>Bold Condensed Sep 22 16, 20:28</string>
      <string>glyphs.B_old C_ondensed S_ep 22 16, 20_28</string>
    </array>
    <array>
      <string>Bold Condensed Sep 22 16, 20:31</string>
      <string>glyphs.B_old C_ondensed S_ep 22 16, 20_31</string>
    </array>
    <array>
      <string>Bold Condensed Sep 23 16, 00:44</string>
      <string>glyphs.B_old C_ondensed S_ep 23 16, 00_44</string>
    </array>
    <array>
      <string>Bold Condensed Sep 22 16, 20:41</string>
      <string>glyphs.B_old C_ondensed S_ep 22 16, 20_41</string>
    </array>
    <array>
      <string>Bold Condensed Sep 22 16, 20:41.background</string>
      <string>glyphs.B_old C_ondensed S_ep 22 16, 20_41.background</string>
    </array>
    <array>
      <string>Bold Condensed Sep 22 16, 17:41</string>
      <string>glyphs.B_old C_ondensed S_ep 22 16, 17_41</string>
    </array>
    <array>
      <string>Bold Condensed Sep 22 16, 18:37</string>
      <string>glyphs.B_old C_ondensed S_ep 22 16, 18_37</string>
    </array>
    <array>
      <string>Bold Condensed Sep 22 16, 20:08</string>
      <string>glyphs.B_old C_ondensed S_ep 22 16, 20_08</string>
    </array>
    <array>
      <string>Bold Condensed Sep 22 16, 03:41</string>
      <string>glyphs.B_old C_ondensed S_ep 22 16, 03_41</string>
    </array>
    <array>
      <string>Bold Condensed Sep 22 16, 20:16</string>
      <string>glyphs.B_old C_ondensed S_ep 22 16, 20_16</string>
    </array>
    <array>
      <string>Bold Condensed Sep 22 16, 17:39</string>
      <string>glyphs.B_old C_ondensed S_ep 22 16, 17_39</string>
    </array>
  </array>
</plist>
