<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A5FBC741-3A40-422E-BE25-52AD9D07B11D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.question</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
