<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A3E3F1C2-E425-422C-9F22-A4818BAEDA82</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexcomb_gravecomb</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
