<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D820A4EB-C40D-4C40-A2A9-F4C5D0D47ADA</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ringcomb</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
