<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D25E411E-97A8-4FFE-A497-E29F76F3A5D3</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.caroncomb.case</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
