<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>44B88293-8A77-41A4-AD4D-8ED7124E7EC4</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.two.dnom</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
