<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A2B80D7A-485A-476D-9567-D2AE5A22F83C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Thorn</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
