<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>DB111DFB-F53A-4B24-89E1-D5D08F509608</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.liraTurkish</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
