<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7E0DD908-B1C8-49C8-984A-73DCDC760CD1</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.five</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.four</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.one</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.three</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.two</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
