<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>fivesuperior</key>
    <string>fivesuperior.glif</string>
    <key>foursuperior</key>
    <string>foursuperior.glif</string>
    <key>sevensuperior</key>
    <string>sevensuperior.glif</string>
    <key>sixsuperior</key>
    <string>sixsuperior.glif</string>
    <key>zerosuperior</key>
    <string>zerosuperior.glif</string>
  </dict>
</plist>
