<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>CD3B900D-03BF-4478-BA3F-E5595F2BC215</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.lessequal</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
