<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>19F2FAF4-374B-4932-A44E-E2E9699F7CC5</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceleft</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
