<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>31F3433D-DC09-4A53-AD38-2151008E716F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.oe</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
