<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7882A1C3-EDC6-4724-8946-FC0F65465015</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.commaaccentcomb</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
