<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>1BBE2860-069E-481D-ACA5-511350D8D9F8</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotesinglbase</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
