<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>five.dnom</key>
    <string>five.dnom.glif</string>
    <key>seven.dnom</key>
    <string>seven.dnom.glif</string>
    <key>six.dnom</key>
    <string>six.dnom.glif</string>
  </dict>
</plist>
