<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>CEEB8886-09D6-44A9-8EA3-BBEA42AC5409</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.five.dnom</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven.dnom</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six.dnom</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
