<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>5CA969CE-98FA-4FA6-A89D-1A9DDF8CDF2F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.germandbls</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
