<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C43441C2-F917-4F05-917D-FD8DA69D2AC9</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.liraTurkish</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
