<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>3515215B-648A-4C7F-AFCC-DB2568BC624B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.less</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
