<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>BAF3A9E3-0D74-4789-AE6B-247ACAE0FE10</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.divide</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
