<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>2B455DEA-A022-4A6B-9C78-6783144AA121</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.two.dnom</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
