<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D76A5D05-F5DA-49AC-9228-40FA83D10FD0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.A</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.B</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.C</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.D</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.E</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.F</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.G</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.H</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.I</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.J</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.K</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.L</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.M</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.N</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.O</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.P</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Q</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.R</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.S</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.T</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.U</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.V</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.W</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.X</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Y</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Z</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.a</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.b</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.c</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.d</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.e</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.f</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.g</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.h</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.i</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.j</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.k</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.l</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.m</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.n</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.o</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.p</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.q</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.r</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.s</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.t</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.v</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.w</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.x</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.y</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.z</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
