<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>069A781F-1C14-46E6-AFD8-9181E29ECD2B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Thorn</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
