<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>BC09AE3E-0D8C-4B94-B1C6-C8BBB0C7256E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexcomb_acutecomb</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
