<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>73F0353A-2175-423F-934E-36A0D70A07D0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.germandbls</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
