<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A36C3716-22BF-4B37-BA18-5F69DD4AAA0E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.three.dnom</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
