<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F4B77DE9-660E-40E0-98B8-94F243677149</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecomb_acutecomb</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
