<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>56D386D4-4998-42F7-B55E-F0DB643DCCFB</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.sterling</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
