<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>AA1FCA88-9BA2-4A72-9CA8-E53819965CDA</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.multiply</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
