<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>23F4DD14-32D4-4E8E-9F09-DFCE73201A1F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.multiply</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
