<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>87F883BF-1DF1-42BD-A7F9-0DDFCF24A7C1</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.a</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.b</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.c</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.d</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.e</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.f</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.g</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.h</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.i</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.j</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.k</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.l</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.m</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.n</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.o</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.p</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.q</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.r</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.s</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.t</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.v</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.w</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.x</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.y</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.z</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
