<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>12784721-6905-42E7-886A-519E9877887C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.currency</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
