<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>4EC5372D-2D9A-4109-8547-6630BBC78DA9</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexcomb.case</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
