<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>EC860F3D-DFC0-48C3-88CB-236684FFCBB9</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.rupeeIndian</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
