<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Regular Sep 25 16, 02:36</string>
      <string>glyphs.R_egular S_ep 25 16, 02_36</string>
    </array>
    <array>
      <string>Regular Sep 25 16, 02:36.background</string>
      <string>glyphs.R_egular S_ep 25 16, 02_36.background</string>
    </array>
    <array>
      <string>Regular Sep 25 16, 02:44</string>
      <string>glyphs.R_egular S_ep 25 16, 02_44</string>
    </array>
    <array>
      <string>Regular Sep 25 16, 02:44.background</string>
      <string>glyphs.R_egular S_ep 25 16, 02_44.background</string>
    </array>
    <array>
      <string>Regular Sep 25 16, 03:57</string>
      <string>glyphs.R_egular S_ep 25 16, 03_57</string>
    </array>
    <array>
      <string>Regular Sep 25 16, 03:57.background</string>
      <string>glyphs.R_egular S_ep 25 16, 03_57.background</string>
    </array>
    <array>
      <string>Regular Sep 25 16, 02:53</string>
      <string>glyphs.R_egular S_ep 25 16, 02_53</string>
    </array>
    <array>
      <string>Regular Sep 25 16, 04:49</string>
      <string>glyphs.R_egular S_ep 25 16, 04_49</string>
    </array>
    <array>
      <string>Regular Sep 23 16, 10:41</string>
      <string>glyphs.R_egular S_ep 23 16, 10_41</string>
    </array>
    <array>
      <string>Regular Sep 23 16, 10:41.background</string>
      <string>glyphs.R_egular S_ep 23 16, 10_41.background</string>
    </array>
    <array>
      <string>Regular Sep 23 16, 11:17</string>
      <string>glyphs.R_egular S_ep 23 16, 11_17</string>
    </array>
    <array>
      <string>Regular Sep 23 16, 11:17.background</string>
      <string>glyphs.R_egular S_ep 23 16, 11_17.background</string>
    </array>
    <array>
      <string>Nov 17 16, 11:28</string>
      <string>glyphs.N_ov 17 16, 11_28</string>
    </array>
    <array>
      <string>Regular Sep 25 16, 02:40</string>
      <string>glyphs.R_egular S_ep 25 16, 02_40</string>
    </array>
    <array>
      <string>Regular Sep 25 16, 02:40.background</string>
      <string>glyphs.R_egular S_ep 25 16, 02_40.background</string>
    </array>
    <array>
      <string>Regular Sep 25 16, 04:00</string>
      <string>glyphs.R_egular S_ep 25 16, 04_00</string>
    </array>
    <array>
      <string>Regular Sep 25 16, 04:00.background</string>
      <string>glyphs.R_egular S_ep 25 16, 04_00.background</string>
    </array>
    <array>
      <string>Regular Sep 25 16, 03:29</string>
      <string>glyphs.R_egular S_ep 25 16, 03_29</string>
    </array>
    <array>
      <string>Regular Sep 25 16, 03:29.background</string>
      <string>glyphs.R_egular S_ep 25 16, 03_29.background</string>
    </array>
    <array>
      <string>Regular Sep 25 16, 03:32</string>
      <string>glyphs.R_egular S_ep 25 16, 03_32</string>
    </array>
    <array>
      <string>Regular Sep 25 16, 03:32.background</string>
      <string>glyphs.R_egular S_ep 25 16, 03_32.background</string>
    </array>
    <array>
      <string>Regular Sep 27 16, 00:13</string>
      <string>glyphs.R_egular S_ep 27 16, 00_13</string>
    </array>
    <array>
      <string>Regular Sep 27 16, 00:13.background</string>
      <string>glyphs.R_egular S_ep 27 16, 00_13.background</string>
    </array>
    <array>
      <string>Regular Sep 25 16, 07:45</string>
      <string>glyphs.R_egular S_ep 25 16, 07_45</string>
    </array>
    <array>
      <string>Regular Sep 25 16, 07:45.background</string>
      <string>glyphs.R_egular S_ep 25 16, 07_45.background</string>
    </array>
    <array>
      <string>Regular Sep 7 16, 21:06</string>
      <string>glyphs.R_egular S_ep 7 16, 21_06</string>
    </array>
    <array>
      <string>Regular Sep 7 16, 21:13</string>
      <string>glyphs.R_egular S_ep 7 16, 21_13</string>
    </array>
    <array>
      <string>Regular Sep 7 16, 21:20</string>
      <string>glyphs.R_egular S_ep 7 16, 21_20</string>
    </array>
    <array>
      <string>Regular Sep 7 16, 21:30</string>
      <string>glyphs.R_egular S_ep 7 16, 21_30</string>
    </array>
    <array>
      <string>Regular Sep 7 16, 20:51</string>
      <string>glyphs.R_egular S_ep 7 16, 20_51</string>
    </array>
    <array>
      <string>Regular Sep 9 16, 21:04</string>
      <string>glyphs.R_egular S_ep 9 16, 21_04</string>
    </array>
    <array>
      <string>Regular Sep 27 16, 07:07</string>
      <string>glyphs.R_egular S_ep 27 16, 07_07</string>
    </array>
    <array>
      <string>Regular Sep 15 16, 02:01</string>
      <string>glyphs.R_egular S_ep 15 16, 02_01</string>
    </array>
    <array>
      <string>Regular Sep 15 16, 02:02</string>
      <string>glyphs.R_egular S_ep 15 16, 02_02</string>
    </array>
    <array>
      <string>Regular Sep 25 16, 04:55</string>
      <string>glyphs.R_egular S_ep 25 16, 04_55</string>
    </array>
    <array>
      <string>Regular Sep 25 16, 04:55.background</string>
      <string>glyphs.R_egular S_ep 25 16, 04_55.background</string>
    </array>
    <array>
      <string>Regular Sep 25 16, 07:20</string>
      <string>glyphs.R_egular S_ep 25 16, 07_20</string>
    </array>
    <array>
      <string>Regular Sep 25 16, 07:20.background</string>
      <string>glyphs.R_egular S_ep 25 16, 07_20.background</string>
    </array>
    <array>
      <string>Regular Sep 25 16, 07:10</string>
      <string>glyphs.R_egular S_ep 25 16, 07_10</string>
    </array>
    <array>
      <string>Regular Sep 25 16, 07:16</string>
      <string>glyphs.R_egular S_ep 25 16, 07_16</string>
    </array>
    <array>
      <string>Regular Sep 25 16, 07:16.background</string>
      <string>glyphs.R_egular S_ep 25 16, 07_16.background</string>
    </array>
    <array>
      <string>Regular Sep 25 16, 07:31</string>
      <string>glyphs.R_egular S_ep 25 16, 07_31</string>
    </array>
    <array>
      <string>Regular Sep 25 16, 07:31.background</string>
      <string>glyphs.R_egular S_ep 25 16, 07_31.background</string>
    </array>
    <array>
      <string>Nov 17 16, 11:36</string>
      <string>glyphs.N_ov 17 16, 11_36</string>
    </array>
    <array>
      <string>Nov 17 16, 11:36.background</string>
      <string>glyphs.N_ov 17 16, 11_36.background</string>
    </array>
    <array>
      <string>Regular Sep 25 16, 07:26</string>
      <string>glyphs.R_egular S_ep 25 16, 07_26</string>
    </array>
    <array>
      <string>Regular Sep 25 16, 07:26.background</string>
      <string>glyphs.R_egular S_ep 25 16, 07_26.background</string>
    </array>
    <array>
      <string>Regular Sep 27 16, 03:33</string>
      <string>glyphs.R_egular S_ep 27 16, 03_33</string>
    </array>
    <array>
      <string>Regular Sep 26 16, 23:34</string>
      <string>glyphs.R_egular S_ep 26 16, 23_34</string>
    </array>
    <array>
      <string>Regular Sep 26 16, 23:34.background</string>
      <string>glyphs.R_egular S_ep 26 16, 23_34.background</string>
    </array>
    <array>
      <string>Regular Sep 26 16, 23:47</string>
      <string>glyphs.R_egular S_ep 26 16, 23_47</string>
    </array>
    <array>
      <string>Regular Sep 26 16, 23:47.background</string>
      <string>glyphs.R_egular S_ep 26 16, 23_47.background</string>
    </array>
    <array>
      <string>Regular Sep 27 16, 00:06</string>
      <string>glyphs.R_egular S_ep 27 16, 00_06</string>
    </array>
    <array>
      <string>Regular Sep 27 16, 00:02</string>
      <string>glyphs.R_egular S_ep 27 16, 00_02</string>
    </array>
    <array>
      <string>Regular Sep 26 16, 23:28</string>
      <string>glyphs.R_egular S_ep 26 16, 23_28</string>
    </array>
    <array>
      <string>Regular Sep 26 16, 23:28.background</string>
      <string>glyphs.R_egular S_ep 26 16, 23_28.background</string>
    </array>
    <array>
      <string>Regular Sep 27 16, 03:44</string>
      <string>glyphs.R_egular S_ep 27 16, 03_44</string>
    </array>
    <array>
      <string>Regular Sep 25 16, 05:00</string>
      <string>glyphs.R_egular S_ep 25 16, 05_00</string>
    </array>
    <array>
      <string>Regular Sep 25 16, 05:00.background</string>
      <string>glyphs.R_egular S_ep 25 16, 05_00.background</string>
    </array>
    <array>
      <string>Regular Sep 27 16, 06:43</string>
      <string>glyphs.R_egular S_ep 27 16, 06_43</string>
    </array>
    <array>
      <string>Regular Sep 25 16, 05:09</string>
      <string>glyphs.R_egular S_ep 25 16, 05_09</string>
    </array>
    <array>
      <string>Regular Sep 25 16, 05:09.background</string>
      <string>glyphs.R_egular S_ep 25 16, 05_09.background</string>
    </array>
    <array>
      <string>Regular Sep 25 16, 05:15</string>
      <string>glyphs.R_egular S_ep 25 16, 05_15</string>
    </array>
    <array>
      <string>Regular Sep 25 16, 05:15.background</string>
      <string>glyphs.R_egular S_ep 25 16, 05_15.background</string>
    </array>
    <array>
      <string>Regular Sep 25 16, 05:44</string>
      <string>glyphs.R_egular S_ep 25 16, 05_44</string>
    </array>
    <array>
      <string>Regular Sep 25 16, 05:36</string>
      <string>glyphs.R_egular S_ep 25 16, 05_36</string>
    </array>
    <array>
      <string>Regular Sep 25 16, 06:03</string>
      <string>glyphs.R_egular S_ep 25 16, 06_03</string>
    </array>
    <array>
      <string>Regular Sep 25 16, 06:24</string>
      <string>glyphs.R_egular S_ep 25 16, 06_24</string>
    </array>
    <array>
      <string>Regular Sep 27 16, 04:37</string>
      <string>glyphs.R_egular S_ep 27 16, 04_37</string>
    </array>
    <array>
      <string>Regular Sep 27 16, 04:43</string>
      <string>glyphs.R_egular S_ep 27 16, 04_43</string>
    </array>
    <array>
      <string>Regular Sep 27 16, 04:47</string>
      <string>glyphs.R_egular S_ep 27 16, 04_47</string>
    </array>
  </array>
</plist>
