<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>930FC4BE-7168-404F-80C4-4C1B1ABBA8E6</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.quoteright</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
