<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>5ADAB1A0-76B5-492D-99B5-45E283B10B06</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.cent</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.currency</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.euro</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.florin</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.micro</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numero</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ordfeminine</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ordmasculine</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.section</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sterling</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yen</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
