<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>675BAE7C-D5B5-4419-83D7-0C023772D02B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.perthousand</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
