<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D3DA60A8-398B-47B5-A0B2-7902378C66CD</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.percent</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
