<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>1A7F4EF6-634A-4DEC-A29A-DC4E1445BDED</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.IJ</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
