<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>EDF0C179-36C5-4E0A-BD7D-7E86C7335F92</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eth</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
