<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>36556A98-BF29-43BD-9054-04DF23D831E9</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.two</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
