<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>cent</key>
    <string>cent.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>euro</key>
    <string>euro.glif</string>
    <key>florin</key>
    <string>florin.glif</string>
    <key>micro</key>
    <string>micro.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
  </dict>
</plist>
