<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>167A110F-5D02-4236-AF24-DAB6AA26D85B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.four.dnom</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
