<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>558D31DE-1E7C-47DB-997A-3DE7DC0C661F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eth</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
