<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9EB0850D-81E8-4D60-BC59-410B068F7F21</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.asciitilde</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
