<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E64B59FB-3648-44E5-B5D6-1947751ABE41</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedblright</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
