<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9B871388-1A4F-4700-921D-DA7898A65B79</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.one.dnom</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
