<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>4EF1B86F-EABF-445D-AF43-98D53724F137</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.radical</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
