<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0BA5109E-5C95-40A6-95E4-DF35FE570A8D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceleft</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
