<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>92AD2F06-2565-44F4-A8E3-3D78650E5585</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.eth</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
