<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F6CD53D4-1990-40A5-98AC-4D0C46034C27</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.emptyset</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
