<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>718D4090-8A76-46A1-AB52-AC9B6325AD20</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedblbase</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
