<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>81304933-CB64-4EBB-AC4F-1D3E95D61E64</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.at.ss01</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
