<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>FD5AB29D-39CD-40D1-9ACE-146616D7360C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexcomb.case</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
