<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>CCC56E7C-458A-411F-A896-5B0F5A6C0B85</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.questiondown</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
