<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D9CB2709-4DC2-4558-9C2A-E9D5C98BF8DD</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.dollar</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
