<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C415F329-B8D8-4D65-80FF-CE08CC0F8562</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.hookabovecomb</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
